<!DOCTYPE HTML>
<!--
        Iridium by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ asset('bundles/uniteampresentation/js/skel.min.js') }}"></script>
        <script src="{{ asset('bundles/uniteampresentation/js/skel-panels.min.js') }}"></script>
        <script src="{{ asset('bundles/uniteampresentation/js/init.js') }}"></script>
        {% block scriptassets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('bundles/uniteampresentation/css/skel-noscript.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/uniteampresentation/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/uniteampresentation/css/style-desktop.css') }}" />
    </head>
    <body 
        {% if currentpage == "accueil" %}class="homepage"{%else%}class="no-sidebar"{%endif%}
        >

        <!-- Header -->
        <div id="header">
            <div class="container"> 

                <!-- Logo -->
                <div id="logo">
                    <h1>Nouvelle-Zelande</h1>
                    <span>Voyage au pays des kiwis</span>
                </div>

                {% set mainmenu = ["accueil", "presentation", "photos", "sport", "infos", "about"]%}
                {% set menutext = ["Accueil", "Présentation", "Paysages", "Sport", "Infos utiles", "A propos"]%}

                <nav id="nav">
                    <ul>
                        {% for menu in mainmenu %}
                            <li{% if menu == currentpage %} class="active"{% endif %}>
                                <a href="{{ menu }}">{{ menutext[loop.index-1] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Main -->
        {% block main %}{% endblock %}

        <!-- Copyright -->
        <div id="copyright">
            <div class="container">
                Design : <a href="http://templated.co">TEMPLATED</a> &nbsp;&nbsp;&nbsp;&nbsp; {% block textsource %}Texte :{% endblock %} <a href="{% block sourceurl %}{% endblock %}">{% block sourcename %}{% endblock %}</a>
            </div>
        </div>

    </body>
</html>

{% block script %}{% endblock %}