{% extends "UniteamPresentationBundle::pages_layout.html.twig" %}

{% block title %}NZ - Presentation{% endblock %}

{% block main %}
    <div id="main">
        <div class="container">
            <div class="row"> 

                <!-- Content -->
                <div id="content" class="12u skel-cell-important">
                    <section>
                        <header>
                            <h2>Nau mai ki Aotearoa !</h2>
                            <span class="byline">Bienvenue en {{ pays.name }} !</span>
                        </header>
                       
                        <p>On l’apprendra grâce au capitaine Cook, la Nouvelle-Zélande, compte deux îles principales et opposées. Au nord, l’île du Nord (« île Fumante »), avec sa cohorte de volcans et ses forêts subtropicales, et l’île du Sud (« île de Jade »), un peu plus grande, avec son échine de crêtes enneigées vite baptisées « Alpes néo-zélandaises ».</p>
                        <p>La Nouvelle-Zélande présente aussi une kyrielle de collines, où paissent quelque 60 millions de moutons - 15 fois plus que de Néo-Zélandais - et de petites îles. Illuminée par les aurores australes, Stewart Island, tout au sud, baigne déjà dans les eaux glacées des Quarantièmes Rugissants. Ceux que l’on appelle les « Kiwis » sont donc proches de la nature et grands amateurs d’outdoors.</p>
                        <p>Les concepts maoris, tels que le whanau (famille) et la mana (autorité spirituelle) font partie intégrante du système de pensée en Nouvelle-Zélande. Certes, des progrès restent à accomplir sur le plan social, mais l’identité nationale, mi-maorie mi-pakeha (blanche) est désormais bien établie. God Save the Queen et bonjour les Kiwis !</p>

                        <a class="image full"><img src="{{ asset('bundles/uniteampresentation/images/presentation1.jpg') }}" alt="" /></a>
                        <span class='legend'>Le Lac Rotoiti</span><br>
                        
                        <p>Deux bateaux ancrés en plein Pacifique Sud, c’est l’image de la Nouvelle-Zélande vue du ciel. Un ultime refuge au bout du monde, juste avant les espaces australs de l’Antarctique.</p>
                        <p>Ce vaste pays, étendu sur deux îles étirées sur 1 600 km, s’aborde aisément. Il suffit d’être armé d’un bon véhicule, d’une petite laine en été (une grosse en hiver), d’un vêtement imperméable contre les fréquentes ondées et d’un tube de crème solaire, car le trou dans la couche d’ozone n’est pas si loin.</p>
                        <p>Lorsqu’on a fini de repaître ses mirettes des inoubliables paysages diurnes, on va se perdre dans l’infini sidéral des nuits superbement étoilées : voie lactée, étoile de sud et plein d’autres résonnent à la rétine longtemps, bien longtemps...</p>
                        <p>Eh oui, la Nouvelle-Zélande, où a été tournée la saga du Hobbit, c’est beau, de jour comme de nuit.</p>
						
						<p>La {{ pays.name }} possède trois langues officielles : </p>
						<ul>
							<li>- {{ langueUn.name }}</li>
							<li>- {{ langueDeux.name }}</li>
							<li>- {{ langueTrois.name }}</li>
						</ul>
						
						<p>Les trois villes principales de la Nouvelle-Zélande sont les suivantes : </p>
						<ul>
							<li>- {{ villeUn.name }} avec {{ villeUn.population }} habitants</li>
							<li>- {{ villeDeux.name }} avec {{ villeDeux.population }} habitants<li>
							<li>- {{ villeTrois.name }} avec {{ villeTrois.population }} habitants<li>
						</ul>
						
						<p>Par ailleurs, l'hymne national du pays s'intitule "{{ pays.anthem }}" et son extension de domaine est "{{ pays.domainname }}"</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sourceurl %}http://www.routard.com/guide/code_dest/nouvelle_zelande.htm{% endblock %}

{% block sourcename %}Le Routard{% endblock %}